/*어드민 탭*/
.tabs{border-bottom:2px solid #111}
.tabs.primary li{display:inline-block;}
.tabs.primary li a{border:3px solid #9f865f;min-width:100px;margin:1em 0.5em;display:block;padding:0.5em;text-decoration:none;text-align:center;color:#9f865f}
.tabs.primary li:nth-child(1) a{margin-left:0}
.tabs.primary li a:hover{background-color:#9f865f;color:white}

/*지난호 보기*/
.lc01 li.views-row:nth-child(3n){margin-right:0}

/*페이징*/
.pager-ellipsis{display: inline-block}

/*로그인 번튼*/
#user-login #edit-submit{margin-top:10px;text-align: center;background-color: #2d1900;border: none;height: 66px;color: #fff;font-size: 1rem;cursor: pointer;min-width: 100px;border-radius: 10px;}

/*message*/
div.messages{margin-top: 35px}

/*뷰페이지 슬라이드 이미지*/
dl.ng04.slide ul.slide li img{border-radius: 15px}