@charset "utf-8";

/* 모바일 모드 */
@media screen and (max-width:768px) {
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,menu,a{font-size:13px;line-height:16px}

.inner{position:relative;width:auto;margin:0 15px;padding:0;box-sizing:border-box}
.slidingA{display:none}


}

/* 태블릿 가로 */
@media all and (min-width: 768px) and (max-width: 1170px) {
html{font-size:13px}
.inner{margin:0 15px;width:auto}
}

/* 태블릿 모드 세로 */
@media all and (min-width: 768px) and (max-width:970px){

}

