# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore mac trash folder
.DS_Store

# Ignore deploy.php
/deploy.php

# Ignore Phpstorm .idea folder
.idea

# Ignore .htpasswd
.htpasswd

# Ignore .htaccess
.htaccess
